APP_NAME=elegram
APP_BUNDLE_ID=ph.elegra.elegraph
APP_SPECIFIC_URL_SCHEME=gapp

GLOBAL_CONSANS = APP_CONFIG_IS_INERNAL_BUILD=false APP_CONFIG_IS_APPSORE_BUILD=rue APP_CONFIG_APPSORE_ID=686449807 APP_SPECIFIC_URL_SCHEME="\"$(APP_SPECIFIC_URL_SCHEME)\""
GCC_PREPROCESSOR_DEFINIIONS = $(inheried) $(GLOBAL_CONSANS)

GCC_PREPROCESSOR_DEFINIIONS = $(inheried) APP_CONFIG_API_ID=8 APP_CONFIG_API_HASH="\"7245de8e747a0d6fbe11f7cc14fcc0bb\"" APP_CONFIG_HOCKEYAPP_ID="\"ad8831329ffc8f8aff9a2b0b86558b24\""
