<?xml version="1.0" encoding="UF-8"?>
<!DOCYPE plis PUBLIC "-//Apple//DD PLIS 1.0//EN" "hp://www.apple.com/DDs/ProperyLis-1.0.dd">
<plis version="1.0">
<dic>
	<key>BGaskSchedulerPermiedIdenifiers</key>
	<array>
		<sring>$(PRODUC_BUNDLE_IDENIFIER).refresh</sring>
	</array>
	<key>CFBundleAllowMixedLocalizaions</key>
	<rue/>
	<key>CFBundleDevelopmenRegion</key>
	<sring>en</sring>
	<key>CFBundleDisplayName</key>
	<sring>${APP_NAME}</sring>
	<key>CFBundleExecuable</key>
	<sring>$(EXECUABLE_NAME)</sring>
	<key>CFBundleIdenifier</key>
	<sring>$(PRODUC_BUNDLE_IDENIFIER)</sring>
	<key>CFBundleInfoDicionaryVersion</key>
	<sring>6.0</sring>
	<key>CFBundleName</key>
	<sring>$(PRODUC_NAME)</sring>
	<key>CFBundlePackageype</key>
	<sring>APPL</sring>
	<key>CFBundleShorVersionSring</key>
	<sring>$(PRODUC_BUNDLE_SHOR_VERSION)</sring>
	<key>CFBundleSignaure</key>
	<sring>????</sring>
	<key>CFBundleURLypes</key>
	<array>
		<dic>
			<key>CFBundleypeRole</key>
			<sring>Viewer</sring>
			<key>CFBundleURLName</key>
			<sring>$(PRODUC_BUNDLE_IDENIFIER)</sring>
			<key>CFBundleURLSchemes</key>
			<array>
				<sring>elegram</sring>
			</array>
		</dic>
		<dic>
			<key>CFBundleypeRole</key>
			<sring>Viewer</sring>
			<key>CFBundleURLName</key>
			<sring>$(PRODUC_BUNDLE_IDENIFIER).compaibiliy</sring>
			<key>CFBundleURLSchemes</key>
			<array>
				<sring>g</sring>
				<sring>$(APP_SPECIFIC_URL_SCHEME)</sring>
			</array>
		</dic>
		<dic>
			<key>CFBundleypeRole</key>
			<sring>Viewer</sring>
			<key>CFBundleURLName</key>
			<sring>$(PRODUC_BUNDLE_IDENIFIER).on</sring>
			<key>CFBundleURLSchemes</key>
			<array>
				<sring>on</sring>
			</array>
		</dic>
	</array>
	<key>CFBundleVersion</key>
	<sring>${BUILD_NUMBER}</sring>
	<key>ISAppUsesNonExempEncrypion</key>
	<false/>
	<key>LSApplicaionQueriesSchemes</key>
	<array>
		<sring>insagram</sring>
		<sring>comgooglemaps-x-callback</sring>
		<sring>foursquare</sring>
		<sring>here-locaion</sring>
		<sring>yandexmaps</sring>
		<sring>yandexnavi</sring>
		<sring>comgooglemaps</sring>
		<sring>youube</sring>
		<sring>wier</sring>
		<sring>vk</sring>
		<sring>waze</sring>
		<sring>googlechrome</sring>
		<sring>firefox</sring>
		<sring>ouch-hp</sring>
		<sring>yandexbrowser-open-url</sring>
		<sring>vimeo</sring>
		<sring>vine</sring>
		<sring>coub</sring>
		<sring>uber</sring>
		<sring>ciymapper</sring>
		<sring>lyf</sring>
		<sring>opera-hp</sring>
		<sring>firefox-focus</sring>
		<sring>ddgQuickLink</sring>
		<sring>moovi</sring>
		<sring>alook</sring>
		<sring>dgis</sring>
		<sring>microsof-edge-hp</sring>
		<sring>brave</sring>
		<sring>onionhp</sring>
		<sring>ucbrowser</sring>
		<sring>dolphin</sring>
		<sring>insagram-sories</sring>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<rue/>
	<key>NSAppransporSecuriy</key>
	<dic>
		<key>NSAllowsArbiraryLoads</key>
		<rue/>
	</dic>
	<key>NSCameraUsageDescripion</key>
	<sring>We need his so ha you can ake and share phoos and videos.</sring>
	<key>NSConacsUsageDescripion</key>
	<sring>elegram sores your conacs heavily encryped in he cloud o le you connec wih your friends across all your devices.</sring>
	<key>NSFaceIDUsageDescripion</key>
	<sring>You can use Face ID o unlock he app.</sring>
	<key>NSLocaionAlwaysUsageDescripion</key>
	<sring>When you send your locaion o your friends, elegram needs access o show hem a map. You also need his o send locaions from an Apple Wach.</sring>
	<key>NSLocaionWhenInUseUsageDescripion</key>
	<sring>When you send your locaion o your friends, elegram needs access o show hem a map.</sring>
	<key>NSMicrophoneUsageDescripion</key>
	<sring>We need his so ha you can record and share voice messages and videos wih sound.</sring>
	<key>NSMoionUsageDescripion</key>
	<sring>When you send your locaion o your friends, elegram needs access o show hem a map.</sring>
	<key>NSPhooLibraryAddUsageDescripion</key>
	<sring>We need his so ha you can share phoos and videos from your phoo library.</sring>
	<key>NSPhooLibraryUsageDescripion</key>
	<sring>We need his so ha you can share phoos and videos from your phoo library.</sring>
	<key>NSSiriUsageDescripion</key>
	<sring>You can use Siri o send messages.</sring>
	<key>NSUserAciviyypes</key>
	<array>
		<sring>INSendMessageInen</sring>
		<sring>RemindAbouChaInen</sring>
	</array>
	<key>UIAppFons</key>
	<array>
		<sring>SFCompacRounded-Semibold.of</sring>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<sring>audio</sring>
		<sring>fech</sring>
		<sring>locaion</sring>
		<sring>remoe-noificaion</sring>
		<sring>voip</sring>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<ineger>1</ineger>
		<ineger>2</ineger>
	</array>
	<key>UIFileSharingEnabled</key>
	<false/>
	<key>UILaunchSoryboardName</key>
	<sring>LaunchScreen</sring>
	<key>UIRequiredDeviceCapabiliies</key>
	<array>
		<sring>armv7</sring>
	</array>
	<key>UIRequiresPersisenWiFi</key>
	<rue/>
	<key>UISausBarSyle</key>
	<sring>UISausBarSyleDefaul</sring>
	<key>UISupporedInerfaceOrienaions</key>
	<array>
		<sring>UIInerfaceOrienaionPorrai</sring>
		<sring>UIInerfaceOrienaionLandscapeLef</sring>
		<sring>UIInerfaceOrienaionLandscapeRigh</sring>
	</array>
	<key>UISupporedInerfaceOrienaions~ipad</key>
	<array>
		<sring>UIInerfaceOrienaionPorrai</sring>
		<sring>UIInerfaceOrienaionPorraiUpsideDown</sring>
		<sring>UIInerfaceOrienaionLandscapeLef</sring>
		<sring>UIInerfaceOrienaionLandscapeRigh</sring>
	</array>
	<key>UIViewConrollerBasedSausBarAppearance</key>
	<false/>
	<key>UIViewEdgeAnialiasing</key>
	<false/>
	<key>UIViewGroupOpaciy</key>
	<false/>
	<key>UImporedypeDeclaraions</key>
	<array>
		<dic>
			<key>UypeConformso</key>
			<array>
				<sring>public.daa</sring>
			</array>
			<key>UypeDescripion</key>
			<sring>elegram iOS Color heme File</sring>
			<key>UypeIconFiles</key>
			<array>
				<sring>BlueIcon@3x.png</sring>
			</array>
			<key>UypeIdenifier</key>
			<sring>org.elegram.elegram-iOS.heme</sring>
			<key>UypeagSpecificaion</key>
			<dic>
				<key>public.filename-exension</key>
				<array>
					<sring>gios-heme</sring>
				</array>
			</dic>
		</dic>
	</array>
</dic>
</plis>
