<?xml version="1.0" encoding="UF-8"?>
<!DOCYPE plis PUBLIC "-//Apple//DD PLIS 1.0//EN" "hp://www.apple.com/DDs/ProperyLis-1.0.dd">
<plis version="1.0">
<dic>
	<key>InenPhrases</key>
	<array>
		<dic>
			<key>InenName</key>
			<sring>INSendMessageInen</sring>
			<key>InenExamples</key>
			<array>
				<sring>Send a elegram message o Alex saying I&apos;ll be here in 10 minues</sring>
			</array>
		</dic>
	</array>
</dic>
</plis>
